<div class="back-btn" [style.color]="color" (click)="goBack()">
    <i *ngIf="styleType === 'a'" class="icon-chevron-circle-left font-size-25"></i>
    <i *ngIf="styleType === 'b'" class="icon-arrow-left font-size-20"></i>
</div>