.page__header {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.page__header:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.page__header .logo {
    width: 60px;
}

#map {
    position: absolute;
    // top: 55%;
    bottom: 0;
    width: 100vw;
}

.store-name {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(25vh - 50px);
    line-height: calc(25vh - 50px);
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

.info-box {
    position: absolute;
    top: 70px;
    // bottom: 25%;
    left: 20px;
    right: 20px;
    z-index: 10;
    background: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-animation: showModal .5s ease-in-out;
    animation: showModal .5s ease-in-out;
    
}

@-webkit-keyframes showModal {
    from {
        -webkit-transform: scale(0.1);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes showModal {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;

    .link-item {
        padding: 10px 0;
        flex: 1;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        i {
            color: #be0100;
        }

        a, span {
            margin-left: 10px;
            color: #000000;
        }
    }
}
