<div class="page">
    <div class="page__bd">
        <div class="page__header">
            <BackButton rootUrl="tudor-stores" color="#f4f4f4"></BackButton>
            <img class="logo" src="assets/images/tudor-logo.svg">
        </div>
        <img src="assets/images/tudor-asset.png">
    </div>
    <!-- <div class="store-name">
        帝舵表零售商地址
    </div> -->
    <div class="info-box" *ngIf="showInfo">
        <div class="margin-top-6 margin-bottom-10 text-center">
            <i class="icon-tudor-circle-svg secondary font-size-30"></i>
        </div>
        <p class="text-center secondary font-size-18">{{ store.name }}</p>
        <p class="text-left font-size-12 margin-top-10">{{ store.unit }}</p>
        <p class="text-left dark font-size-12">{{ (store.countryName === store.provinceName || store.countryName === store.cityName) ? store.countryName : (store.provinceName == store.cityName) ? (store.countryName + '' +  store.provinceName) : (store.countryName + '' + store.provinceName + '' + store.cityName)  }}</p>
        <p *ngIf="store?.district" class="text-left dark font-size-12">{{ store.district }}</p>
        <p class="text-left dark font-size-12">{{ store.street2 }}{{ store.street1 }}{{ store.number }}</p>
        <p class="text-left dark font-size-12" [innerHTML]="store.openHours"></p>
        <div class="link-box">
            <div class="link-item">
                <i (click)="linePlanning(store.retailerId)" class="icon-get-direction"></i>
                <span (click)="linePlanning(store.retailerId)">到这去</span>
            </div>
            <div class="link-item" *ngIf="store.contact">
                <i (click)="toCall(store.contact)" class="icon-phone"></i>
                <a href="tel:{{ store.contact }}">{{ store.contact }}</a>
            </div>
        </div>
    </div>
    <div id="map"></div>
</div>