<div class="page">
    <div class="page__bd">
        <div class="page__search">
            <div class="back-btn">
                <BackButton></BackButton>
            </div>
            <div class="icon-box">
                <i class="icon-current-location"></i>
                <div class="border-div"></div>
                <i class="icon-rolex-circle-svg"></i>
            </div>
            <div class="input-box">
                <div class="input-cell has-border">
                    <input type="text" placeholder="你的位置" maxlength="50" [(ngModel)]="searchText" name="searchText"
                        (keyup)="searchChanged($event)" (change)="searchChanged($event)" (blur)="onBlur()" (focus)="onFocus()">
                </div>
                <div class="input-cell">
                    <span>{{ store?.name }}</span>
                </div>
            </div>
        </div>
        <div class="nav-box">
            <div id="nav-menu" class="weui-grids">
                <div class="weui-grid" [ngClass]="{'primary': navId === 0}" (click)="tapNav(0)">
                    <i class="icon-car"></i>
                    <span class="margin-left-10">驾车</span>
                </div>
                <div class="weui-grid" [ngClass]="{'primary': navId === 1}" (click)="tapNav(1)">
                    <i class="icon-bus-alt"></i>
                    <span class="margin-left-10">公交</span>
                </div>
                <div class="weui-grid" [ngClass]="{'primary': navId === 2}" (click)="tapNav(2)">
                    <i class="icon-walking"></i>
                    <span class="margin-left-10">步行</span>
                </div>
            </div>
        </div>
    </div>
    <div id="map-box">
        <div id="l-map"></div>
        <div class="location-box" (click)="moveLocation()">
            <i class="icon-current-location"></i>
        </div>
    </div>

    <div id="r-result" [ngClass]="{'r-result-bus': navId === 1}"></div>
    <div *ngIf="!hasRoute" class="padding-15 text-center">
        该方案无结果
    </div>
    <div style="height: 50px"></div>
    <div class="search-result-box" [ngStyle]="{'height': showSearchResult ? '260px' : 0}">
        <div *ngIf="searching" class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <div *ngIf="searchResultItems.length === 0" class="padding-15 text-center font-size-14">
            没找到相关位置
        </div>
        <ng-template ngFor let-i="index" let-store [ngForOf]="searchResultItems">
            <div class="weui-media-box weui-media-box_text" (click)="selectedItem(store)">
                <p class="weui-media-box__desc">{{ store.address }}</p>
            </div>
        </ng-template>
    </div>
</div>