@font-face {
    font-family: 'iconfont';
    src: url("./iconfont.eot?xamwvd");
    src: url("./iconfont.eot?xamwvd#iefix") format("embedded-opentype"), url("./iconfont.ttf?xamwvd") format("truetype"), url("./iconfont.woff?xamwvd") format("woff"), url("./iconfont.svg?xamwvd#iconfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e900";
}

.icon-bars:before {
    content: "\e901";
}

.icon-bus-alt:before {
    content: "\e902";
}

.icon-bus:before {
    content: "\e903";
}

.icon-car-alt:before {
    content: "\e904";
}

.icon-car:before {
    content: "\e905";
}

.icon-chevron-circle-left:before {
    content: "\e906";
}

.icon-chevron-down:before {
    content: "\e907";
}

.icon-current-location:before {
    content: "\e908";
}

.icon-get-direction:before {
    content: "\e909";
}

.icon-location:before {
    content: "\e90a";
}

.icon-long-arrow-left:before {
    content: "\e90b";
}

.icon-map:before {
    content: "\e90c";
}

.icon-phone:before {
    content: "\e90d";
}

.icon-rolex-circle-svg:before {
    content: "\e90e";
}

.icon-search:before {
    content: "\e90f";
}

.icon-times:before {
    content: "\e910";
}

.icon-tudor-circle-svg:before {
    content: "\e911";
}

.icon-walking:before {
    content: "\e912";
}
