.page__header, .page__ft {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__header {
    background: #000000;
}

.page__header .logo {
    width: 60px;
}

.page__header:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.page__ft:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.weui-grids {
    height: 40px;
}

.weui-grid {
    width: 50%;
    height: 100%;
    font-size: 12px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.weui-grids::before {
    top: unset;
    height: 0;
    bottom: 0;
    border-top: 0;
    border-bottom: 1px solid #D9D9D9;
}

.weui-grids::after, .weui-grid::after, .weui-grid::before {
    border: 0;
}

.nav-box {
    height: 40px;
}

#nav-menu.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: #ffffff;
}

#map-box {
    position: relative;

    .location-box {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 0 0 5px #ccc;

        i {
            color: #be0100;
            font-size: 25px;
        }
    }

    
}

#map {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    z-index: 1;
    height: 44px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    box-shadow: 0 0 3px #ccc;

    .input-box {
        flex: 1;
        height: 44px;

        input {
            width: calc(100% - 20px);
            height: 100%;
            border: 0;
            font-size: 16px;
            margin: 0 10px;
        }
    }

    .location-btn {
        width: 44px;
        height: 44px;
        background: #ffffff;
        border: 0;
        color: #be0100;
        font-size: 18px;
    }

    .search-btn {
        width: 44px;
        height: 44px;
        background: #be0100;
        border: 0;
        color: #ffffff;
        font-size: 18px;
    }
}

#list-box {
    min-height: 64px;
    height: auto;
    padding-top: 10px;

    .search-bar {
        position: inherit;
        margin: 0 15px 10px 15px;
        z-index: 0;
    }

    .store-item {
        position: relative;
        margin: 0 15px;
        padding: 15px 15px;
    }

    .store-item:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid #e5e5e5;
        color: #e5e5e5;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

.link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .link-item {
        padding: 10px 0;
        flex: 1;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        i {
            color: #be0100;
        }

        a, span {
            margin-left: 10px;
            color: #000000;
        }
    }
}

#list-box .store-item:last-child::after {
    display: none;
}

@-webkit-keyframes showModal {
    from {
        -webkit-transform: scale(0.1);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes showModal {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.store-dialog {
    position: absolute;
    left: 15px;
    right: 15px;
    -webkit-animation: showModal .5s ease-in-out;
    animation: showModal .5s ease-in-out;
    background: #ffffff;
    padding: 0 20px 20px 20px;
    z-index: 2;
    box-shadow: 0 0 3px #ccc;
}

.load-more {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #F4F3F3;
    color: #333333;
}

.watch-tudor {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.search-result-box {
    position: absolute;
    height: 0;
    left: 15px;
    right: 15px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px #ccc;
    transition: height .5s ease;
    -webkit-transition: height .5s ease;
}

.search-result-scroll {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.search-result-item {
    padding: 8px 15px;
}

.search-result-close {
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding: 0 5px;
}