<div class="page">
    <div class="page__bd">
        <div class="page__header">
            <img class="logo" src="assets/images/tudor-logo.svg">
        </div>
        <div class="text-center padding-20">
            <p class="dark font-size-12">选购帝舵腕表的地方</p>
            <p class="secondary font-size-24">寻找零售商</p>
        </div>
        <div class="nav-box">
            <div id="nav-menu" class="weui-grids">
                <div class="weui-grid" [ngClass]="{'secondary': navId === 0}" (click)="tapNav(0)">
                    <i class="icon-map font-size-18"></i>
                    <span class="margin-left-10">地图</span>
                </div>
                <div class="weui-grid" [ngClass]="{'secondary': navId === 1}" (click)="tapNav(1)">
                    <i class="icon-bars"></i>
                    <span class="margin-left-10">列表</span>
                </div>
            </div>
        </div>
    </div>
    <div id="map-box">
        <div id="map">
            <i class="weui-loading" style="width: 30px;height: 30px;"></i>
        </div>
        <div class="search-bar">
            <div class="input-box">
                <input type="text" placeholder="输入地点、城市或零售商名称" maxlength="50" [(ngModel)]="searchText" name="searchText"
                    (keyup)="searchChanged($event)" (change)="searchChanged($event)" (blur)="onBlur()" (focus)="onFocus()">
            </div>
            <!-- <button type="button" class="location-btn">
                <i class="icon-current-location"></i>
            </button> -->
            <button type="button" class="search-btn">
                <i class="icon-search"></i>
            </button>
        </div>
        <div class="location-box" (click)="moveLocation()">
            <i class="icon-current-location"></i>
        </div>
    </div>
    <div id="list-box">
        <div class="search-bar">
            <div class="input-box">
                <input type="text" placeholder="输入地点、城市或零售商名称" maxlength="50" [(ngModel)]="searchText" name="searchText"
                    (keyup)="searchChanged($event)" (change)="searchChanged($event)" (blur)="onBlur()" (focus)="onFocus()">
            </div>
            <!-- <button type="button" class="location-btn">
                <i class="icon-current-location"></i>
            </button> -->
            <button type="button" class="search-btn">
                <i class="icon-search"></i>
            </button>
        </div>
        <ng-template ngFor let-i="index" let-store [ngForOf]="stores">
            <div class="store-item" *ngIf="i < showNumber">
                <div (click)="toDetail(store.retailerId)">
                    <p class="text-center dark font-size-12" *ngIf="store.distance">距离{{ store.distance |
                        number:'1.1-1' }}公里</p>
                    <p class="text-center secondary font-size-18">{{ store.name }}</p>
                    <p class="text-left font-size-12 margin-top-10">{{ store.unit }}</p>
                    <p class="text-left dark font-size-12">{{ (store.countryName === store.provinceName || store.countryName === store.cityName) ? store.countryName : (store.provinceName == store.cityName) ? (store.countryName + '' +  store.provinceName) : (store.countryName + '' + store.provinceName + '' + store.cityName)  }}</p>
                    <p *ngIf="store?.district" class="text-left dark font-size-12">{{ store.district }}</p>
                    <p class="text-left dark font-size-12">{{ store.street2 }}{{ store.street1 }}{{ store.number }}</p>
                    <p class="text-left dark font-size-12" [innerHTML]="store.openHours"></p>
                </div>
                <div class="link-box">
                    <div class="link-item">
                        <i (click)="linePlanning(store.retailerId)" class="icon-get-direction"></i>
                        <span (click)="linePlanning(store.retailerId)">到这去</span>
                    </div>
                    <div class="link-item" *ngIf="store.contact">
                        <i (click)="toCall(store.contact)"class="icon-phone"></i>
                        <a href="tel:{{ store.contact }}">{{ store.contact }}</a>
                    </div>
                </div>
            </div>
        </ng-template>
        <div *ngIf="stores.length > showNumber" class="load-more" (click)="setShowNumber()">
            <span class="font-size-14">加载更多</span>
            <i class="icon-chevron-down secondary margin-left-10"></i>
        </div>
    </div>
    <div class="search-result-box" [ngStyle]="{'top': searchResultBoxTop + 'px', 'height': showSearchResult ? searchResultBoxHeight + 'px': 0}">
        <div class="search-result-close" *ngIf="showSearchResult">
            <i class="icon-times font-size-20" (click)="showSearchResult = false"></i>
        </div>
        <div class="search-result-scroll">
            <div *ngIf="searching" class="weui-loadmore">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载</span>
            </div>
            <div *ngIf="searchResultItems.addressList.length === 0 && searchResultItems.nameList.length === 0" class="padding-15 text-center font-size-14">
                没找到相关门店
            </div>
            <div *ngIf="searchResultItems.addressList.length > 0">
                <ng-template ngFor let-i="index" let-store [ngForOf]="searchResultItems.addressList">
                    <div class="weui-media-box weui-media-box_text" (click)="showDialog(store.id)">
                        <h4 class="weui-media-box__title">{{ store.name }}</h4>
                        <p class="weui-media-box__desc">{{ (store.countryName === store.provinceName || store.countryName === store.cityName) ? store.countryName : (store.provinceName == store.cityName) ? (store.countryName + '' +  store.provinceName) : (store.countryName + '' + store.provinceName + '' + store.cityName)  }}{{ store.district
                            }}{{ store.street2 }}{{ store.street1 }}{{ store.number }}</p>
                    </div>
                </ng-template>
            </div>
            <div *ngIf="searchResultItems.nameList.length > 0">
                <ng-template ngFor let-i="index" let-store [ngForOf]="searchResultItems.nameList">
                    <div class="weui-media-box weui-media-box_text" (click)="showDialog(store.id)">
                        <h4 class="weui-media-box__title">{{ store.name }}</h4>
                        <p class="weui-media-box__desc">{{ store.street2 }}{{ store.street1 }}{{ store.number }}</p>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
    <div class="store-dialog" *ngIf="showStoreDialog && store" [ngStyle]="{'top': searchResultBoxTop + 10 + 'px'}">
        <div class="text-right padding-top-10">
            <i class="icon-times font-size-20" (click)="showStoreDialog = !showStoreDialog"></i>
        </div>
        <div (click)="toDetail(store.retailerId)">
            <p class="text-center dark font-size-12" *ngIf="store.distance">距离{{ store.distance | number:'1.1-1' }}公里</p>
            <p class="text-center secondary font-size-18">{{ store.name }}</p>
            <p class="text-left font-size-12 margin-top-10">{{ store.unit }}</p>
            <p class="text-left dark font-size-12">{{ (store.countryName === store.provinceName || store.countryName === store.cityName) ? store.countryName : (store.provinceName == store.cityName) ? (store.countryName + '' +  store.provinceName) : (store.countryName + '' + store.provinceName + '' + store.cityName)  }}</p>
            <p *ngIf="store?.district" class="text-left dark font-size-12">{{ store.district }}</p>
            <p class="text-left dark font-size-12">{{ store.street2 }}{{ store.street1 }}{{ store.number }}</p>
            <p class="text-left dark font-size-12" [innerHTML]="store.openHours"></p>
        </div>
        <div class="link-box">
            <div class="link-item">
                <i (click)="linePlanning(store.retailerId)" class="icon-get-direction"></i>
                <span (click)="linePlanning(store.retailerId)">到这去</span>
            </div>
            <div class="link-item" *ngIf="store.contact">
                <i (click)="toCall(store.contact)" class="icon-phone"></i>
                <a href="tel:{{ store.contact }}">{{ store.contact }}</a>
            </div>
        </div>
    </div>
    <div class="watch-tudor" [style.background-image]="'url(assets/images/watch-tudor.png)'">
        <div class="text-center padding-20">
            <p class="white font-size-24" style="margin-top: 60%;">帝舵零售商</p>
            <p class="light font-size-11 padding-top-20" style="line-height: 1.4">
                唯有帝舵授权的特约零售商，方能提供销售及保养帝舵腕表的服务。凭借其丰富经验、专业知识及独特工具，他们不仅确保您的帝舵腕表的各个零件均为真品及腕表长远的可靠运作，竭诚助您选购可伴随一生的时计。
            </p>
        </div>
    </div>

    <!-- <div class="page__ft">
        TERMS & CONDITIONS
    </div> -->
</div>