.weui_msg {
    padding-top: 36px;
    text-align: center;
}

.weui_msg .weui_icon_area {
    margin-bottom: 30px;
}

.weui_msg .weui_text_area {
    margin-bottom: 25px;
    padding: 0 20px;
}

.weui_icon_msg:before {
    font-size: 104px;
}
.weui_icon_info:before {
    font-size: 23px;
    color: #10AEFF;
}