<div class="page">
    <div class="page__bd">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui-icon-info weui-icon_msg"></i></div>
            <div class="weui_text_area">
                <h4 class="weui_msg_title">请在微信移动客户端打开链接</h4>
            </div>
        </div>
    </div>
</div>