/* You can add global styles to this file, and also import other style files */
@import "assets/styles/weui.css";
@import "assets/styles/iconfont/iconfont.css";
@import "node_modules/ngx-weui/index";

html, body {
    height: 100%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

input, button {
    outline: none;
}

app-root, app-stores, app-stores-detail, app-stores-line-planning, app-tudor-stores, app-tudor-stores-detail, app-tudor-stores-line-planning {
    display: block;
    height: 100%;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@for $size from 0 through 30 {
    @each $position in top, left, right, bottom {
        .margin-#{$position}-#{$size} {
            margin-#{$position}: (1px * $size) !important;
        }

        .padding-#{$position}-#{$size} {
            padding-#{$position}: (1px * $size) !important;
        }
    }

    .margin-#{$size} {
        margin: (1px * $size) !important;
    }

    .padding-#{$size} {
        padding: (1px * $size) !important;
    }

    .font-size-#{$size} {
        font-size: (1px * $size) !important;
    }
}

$colors: (primary: #a37e2c, secondary: #be0100, danger: #f53d3d, light: #f4f4f4, dark: #666);

.white {
    color: white;
}

.primary {
    color: map-get($colors, primary);
}

.secondary {
    color: map-get($colors, secondary);
}

.danger {
    color: map-get($colors, danger);
}

.light {
    color: map-get($colors, light);
}

.dark {
    color: map-get($colors, dark);
}

h6 {
    font-size: 12px !important;
}

h5 {
    font-size: 14px !important;
}

h4 {
    font-size: 18px !important;
}

h3 {
    font-size: 24px !important;
}

h2 {
    font-size: 30px !important;
}

h1 {
    font-size: 36px !important;
}

.white {
    color: white !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    text-align: nowrap !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

// map
// .anchorBL {
//     display: none;
// }

#r-result h1 {
    font-size: 18px !important;
}

.r-result-bus > div > div:last-child {
    display: none;
}

.navtrans-view.expand {
    a, .navtrans-arrow {
        display: none;
    }
}
