.page__search {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;

    .back-btn {
        width: 45px;
        height: 100%;
    }

    .icon-box {
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #be0100;
        font-size: 20px;
    }

    .border-div {
        height: 15px;
        width: 1px;
        border-right: 1px dotted #be0100;
    }

    .input-box {
        width: calc(100% - 95px);
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .input-cell {
            height: 45px;
            width: calc(100% - 15px);
            line-height: 45px;
            color: #be0100;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            input {
                width: 100%;
                height: 100%;
                color: #be0100;
                font-size: 16px;
                border: 0;
                background: #ffffff;
            }
        }

        .input-cell.has-border {
            position: relative;
        }

        .input-cell.has-border:after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            border-bottom: 1px solid #e5e5e5;
            color: #e5e5e5;
            -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
}

.nav-box {
    height: 40px;

    .weui-grids {
        height: 40px;
    }

    .weui-grid {
        height: 100%;
        font-size: 12px;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .weui-grids::before {
        top: unset;
        height: 0;
        bottom: 0;
        border-top: 0;
        border-bottom: 1px solid #D9D9D9;
    }

    .weui-grids::after, .weui-grids::before, .weui-grid::after, .weui-grid::before {
        border: 0;
    }
}

#map-box {
    position: relative;

    .location-box {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background: #ffffff;
        box-shadow: 0 0 5px #ccc;

        i {
            color: #be0100;
            font-size: 25px;
        }
    }
}

#l-map {
    width: 100%;
    height: calc(100vh - 240px);
}

#r-result, #r-result table {
    width: 100%;
}

.search-result-box {
    position: absolute;
    width: calc(100vw - 110px);
    right: 15px;
    top: 50px;
    height: 0;
    background: #ffffff;
    box-shadow: 0 0 3px #ccc;
    transition: height .5s ease;
    -webkit-transition: height .5s ease;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .search-result-item {
        padding: 8px 15px;
    }
}
